/* /// CSS Architecture Project /// */

/* *********** Custom Properties *********** */
:root {
    --first-color: #D90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192D;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #ffffff;
    --gray-light-color: #F3F3F3;
    --gray-color: #CCCCCC;
    --gray-dark-color: #666666;
    --black-color: #000000;
    --link-color: #509EE3;
    --title-color: #333333;
    --text-color: #222222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: 'Raleway', sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

/* *********** Reset *********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-size: 0.85rem;
    margin: 0;
}

h6 {
    font-size: 0.7rem;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    line-height: 1.6;
}

/* *********** Components *********** */

/* *********** -> Carousel *********** */
@keyframes carousel-slide {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }
}

.carousel {
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 80vw;
    text-align: center;
    background-color: var(--carousel-bg-color);
    overflow-x: hidden;
}

.carousel input {
    display: none;
}

.carousel label {
    cursor: pointer;
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    display: inline-block;
    height: 0.75rem;
    margin: 0 0.25rem;
    width: 0.75rem;
}

.carousel .slides {
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
    padding-left: 0;
    /* 100% por cada slide */
    width: 400%;
    animation: carousel-slide 12s ease-in-out 3s;
}

#slide-1:checked ~ .slides {
    transform: translateX(0%);
}

#slide-2:checked ~ .slides {
    transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
    transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
    transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
    background-color: var(--gray-dark-color);
}

@media screen and (min-width: 1024px) {
    
    .carousel {
        max-width: 800px;
    }
}

/* *********** -> Contact Form *********** */
.contact-form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.contact-form > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form input, 
.contact-form textarea {
    font-size: 0.85rem;
    font-family: var(--font);
    outline: 0;
}

.contact-form input {
    border: 0;
    padding-left: 0;
    border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
    border: thin solid var(--gray-dark-color);
    resize: none;
}

.contact-form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
    opacity: 0.75;
}

.contact-form *::placeholder {
    color: var(--gray-dark-color);
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
}

.contact-form-response svg {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 1024px) {

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
    
    .contact-form input, 
    .contact-form textarea {
        font-size: 1rem;
    }

    .contact-form textarea,
    .contact-form-loader {
        grid-column: span 2;
    }
    .contact-form input[type="submit"] {
        margin-left: 0;
    }

}

/* *********** -> Hero Image *********** */
.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
    align-items: center;
    background-color: var(--hero-opacity-color) ;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    width: 100%;
}

.hero-image-title {
    color: var(--hero-text-color);
    font-size: 7.5vw;
}


/* *********** -> Menu *********** */
.menu-btn {
    background-color: var(--second-color);
    border: 0;
    cursor: pointer;
    outline: thin solid var(--first-color);
}

.menu-btn svg {
    fill: var(--first-color);
}

.menu {
    background-color: var(--second-color);
    bottom: var(--header-height);
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity 0.5s ease;
    width: 100%;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}

.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {

    .menu-btn {
        display: none;
    }

    .menu {
        flex-direction: row;
        opacity: 1;
        position: static;
        pointer-events: auto;
        width: auto;
    }

    .menu a {
        padding: 0 1rem;
    }

    .menu a:hover {
        background-color: transparent;
    }

    .menu a:last-child {
        padding-right: 0;
    }
}

/* *********** -> Modal *********** */
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content {
    position: relative;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.modal[id|='trabajo']:target {
    opacity: 1;
    pointer-events: auto;
}

/* *********** -> Progressbar *********** */
progress {
    width: 100%;
    height: 1rem;
    background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
    background-color: var(--gray-color);
}

progress::-webkit-progress-value {
    background-color: var(--gray-dark-color);
}

progress::-moz-progress-bar {
    background-color: var(--gray-dark-color);
}

.progress {
    margin: 1rem auto;
}

.progress > p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

/* *********** Utilities *********** */
.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.bg-gray-light {
    background-color: var(--gray-light-color);
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
    background-color: var(--first-color);
    border-radius: 0.5rem;
    color: var(--white-color);
    display: inline-block;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.gray-scale {
    filter: grayscale(1);
}

.none {
    display: none;
}

.section {
    padding: 2rem 1rem;
}

.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    color: var(--title-color);
    width: 250px;
    text-align: center;
}

.text-first-color {
    color: var(--first-color);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media screen and (min-width: 1024px) {

    .full-lg-screen {
        width: 100%;
        min-height: 100vh;
    }

    .text-lg-center {
        text-align: center;
    }
    
    .text-lg-left {
        text-align: left;
    }
    
    .text-lg-right {
        text-align: right;
    }
}

/* *********** Site Styles *********** */
.about > article {
    margin-bottom: 2rem;
}

.about img {
    width: 100%;
}

.contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-card > svg {
    fill: var(--first-color);
    width: 2rem;
    height: 2rem;
}

.contact-card > small {
    margin-top: -1rem;
}

.footer {
    margin-bottom: var(--header-height);
    padding: 0.5rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--third-color);
}

.header {
    background-color: var(--second-color);
    bottom: 0;
    height: var(--header-height);
    left: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.portfolio-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
}

.portfolio-card:hover .portfolio-card-info {
    opacity: 1;
    pointer-events: auto;
    transition: all .5s ease-in-out;
}

.portfolio-card-info > div {
    border: thin solid var(--white-color);
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.portfolio-modal {
    background-color: var(--white-color);
    padding: 1rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.portfolio-modal h3 {
    border-bottom: medium solid var(--first-color);
    margin: 1rem auto;
    padding: 0.5rem 0;
    color: var(--title-color);
}

.portfolio-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem;
}

.portfolio-details b {
    color: var(--first-color);
}

.service-card {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.service-card h3 {
    color: var(--title-color);
}

.service-card svg {
    fill: var(--first-color);
    margin-bottom: 1.25rem;
}

.social-media {
    padding-top: 0.5rem;
}

.social-media a {
    padding: 0 0.4rem;
    text-decoration: none;
}

.social-media svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (min-width: 768px) {

    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }

    .portfolio > .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .portfolio .section-title {
        grid-column: span 2;
    }

    .portfolio-modal {
        flex-direction: row;
        max-width: 820px;
    }

    .portfolio-info {
        margin-left: 1rem;
        align-self: center;
    }

    .services > .container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-content: center;
    }

    .services .section-title {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1024px) {

    .about {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-content: center;
    }

    .contact-cards {
        grid-template-columns: repeat(4, 24%);
    }

    .footer {
        margin-bottom: 0;
    }

    .header {
        height: calc(var(--header-height) - 0.5rem);
        padding: 0.5rem;
        position: sticky;
        top: 0;
    }

    .portfolio > .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .portfolio .section-title {
        grid-column: span 3;
    }

    .services > .container {
        grid-template-columns: repeat(3, 30%);
    }

    .services .section-title {
        grid-column: span 3;
    }
}